
h1 {
    text-align: center;
}

fieldset {
    width: 600px;
    margin: 0 auto;
}

label {
    float: left;
    width: 250px;
    clear: left;
    text-align: right;
    padding-right: 1em;
}

input {
    float: left;
}

button {
        display: block;
        clear: both;
        margin: 0 auto;
}

#output {
    font-size: 150%;
    text-align: center;
    width: 400px;
    margin: 0 auto;

}